* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding-top: 60px; /* Adjust this value based on the height of your header */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-header {
    background: linear-gradient(180deg, #D7AFD0, #C0C8DB);
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.title h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav {
    display: flex;
    gap: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
}

.nav-links a:hover {
    background: #34495e;
    border-radius: 5px;
}

.notifications-section, .coming-soon-section {
    padding: 3rem 0;
    text-align: center;
    background-color: #fff;
    margin: 2rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notifications-section h2, .coming-soon-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.notifications-row, .coming-soon-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.notification-item, .coming-soon-item {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1rem 0;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.notification-item.visible, .coming-soon-item.visible {
    opacity: 1;
}

.notification-item p, .coming-soon-item p {
    font-size: 1.1rem;
    color: #666;
}

.main-footer {
    background: #2c3e50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-top: 5px solid #ffd700;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-link {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #ffd700;
}